/app/vendor/
/app/node_modules/

.env
.env.*
**/.env
**/.env.*.local
!/.env.example
!/app/.env.example

/app/storage/*
!/app/storage/.gitignore

/app/bootstrap/cache/*
!/app/bootstrap/cache/.gitignore

/app/public/build/
/app/public/hot

/.phpunit.cache
/.phpunit.result.cache

/.idea/
/.vscode/

**/.DS_Store
**/__MACOSX/

npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.idea
